<section id="skills" class="secao--clara skills">
  <div class="container">
    <span class="rotulo" appReveal>Caixa de ferramentas</span>
    <h2 class="titulo-secao" appReveal>Skills &amp; <em>stack</em></h2>

    <div class="skills__grupos">
      <div class="skills__grupo" *ngFor="let grupo of grupos" appReveal>
        <h3 class="skills__categoria">{{ grupo.categoria }}</h3>
        <div class="logotipos">
          <div class="logotipo" *ngFor="let item of grupo.itens">
            <span class="logotipo__glifo">{{ sigla(item) }}</span>
            <span class="logotipo__nome">{{ item }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="skills__soft" appReveal>
      <h3 class="skills__categoria">Engenharia &amp; gestão</h3>
      <ul class="skills__soft-itens">
        <li *ngFor="let skill of softSkills">{{ skill }}</li>
      </ul>
    </div>
  </div>
</section>
